html {
  background-color: #CCCCFF;
  /*Original: BBBBFF*/
  color: #016b01;
  /*Original: 01AA01*/
  font-display: optional;
}

a:link {
  color: #0000FF;
}
a:visited {
  color: #00BB00;
}
a:hover {
  color: #00BBBB;
}
a:active {
  color: #FF0000;
}

.Button {
  background-color: #00AABB;
  /*Original: 00AABB*/
}
.engaged-legend {
  color: black;
  /*Original: Black*/
  
}
.box {
  background-color: #BBCCFF;
  /*Original: BBCCFF*/
  border-radius: 8px;
}

.Big {
  color: rgb(198, 152, 93);
}

.header-div {
  background-color: grey;
  color: #000001;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  font-size: x-large;
  box-shadow: 0px 4px 0px #000001;
}

body {
  margin: 0;
}

.header-div a {
  margin: 0 15px;
}

.breakthis {
  display: block;
}